<form method="post" action="/changePassword/">
  {% csrf_token %} 
  
  <div class="mb-3 form-floating">
    <input
      type="password"
      placeholder="Current password"
      class="form-control fin-form-control"
      name="old_password"
      id="opassword"
      required
    />
    <label for="opassword" class="text-muted"><i class="fa-solid fa-lock me-1"></i> Current Password</label>
  </div>
  
  <div class="mb-3 form-floating">
    <input
      type="password"
      placeholder="Enter new password"
      class="form-control fin-form-control"
      name="password"
      id="password"
      required
    />
    <label for="password" class="text-muted"><i class="fa-solid fa-key me-1"></i> New Password</label>
  </div>
  
  <div class="mb-4 form-floating">
    <input
      type="password"
      placeholder="Confirm New Password"
      class="form-control fin-form-control"
      name="c_password"
      id="cpassword"
      required
    />
    <label for="cpassword" class="text-muted"><i class="fa-solid fa-check-double me-1"></i> Confirm Password</label>
  </div>
  
  <div>
    <button type="submit" class="btn w-100 shadow-sm fin-submit-btn">
      <i class="fa-solid fa-arrows-rotate me-1"></i> Change Password
    </button>
  </div>
</form>
