
      <form
        method="post"
        action="/changePassword/"
      >
        {% csrf_token %} 
        <div class="mb-3">
          <input
            type="password"
            placeholder="Current password"
            class="form-control"
            name="old_password"
            id="opassword"
            required
          />
        </div>
        
        <div class="mb-3">
          <input
            type="password"
            placeholder="Enter new password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            placeholder="Confirm New Password"
            class="form-control"
            name="c_password"
            id="cpassword"
            required
          />
        </div>
        <div >
          <button
            type="submit"
            class="btn custom-btn-primary"
          >
            Change Password
          </button>
        </div>
      </form>
