<!-- Edit Expense Modal -->

<div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" style="color: var(--primary-dark);" id="title_u">Edit Transaction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="" id="updateExpenseForm" method="post">
          {% csrf_token %}

          <div id="transactionUpdateBody">

            <!-- Transaction Category -->
            <div class="mb-3">
              <select class="form-select shadow-sm" id="category_u" name="category" aria-label="Select Category">
                <option value="" disabled selected>-- Select Category --</option>
                <!-- Categories will be populated dynamically -->
              </select>
            </div>

            <!-- Beneficiary (Self/Home/Other) -->
            <div class="mb-3">
              <input type="text" class="form-control shadow-sm" name="beneficiary" id="beneficiary_data" placeholder="Beneficiary (Self/Home/Other)" />
            </div>

            <!-- Transaction Date -->
            <div class="mb-3">
              <input type="date" class="form-control shadow-sm" name="date" id="date_u" required />
            </div>

            <!-- Transaction Amount -->
            <div class="mb-3">
              <input type="number" class="form-control shadow-sm" step="0.01" name="amount" id="amount_u" placeholder="Amount" required />
            </div>

            <!-- Transaction Description -->
            <div class="mb-3">
              <input type="text" class="form-control shadow-sm" name="description" id="description_u" placeholder="Description" required />
            </div>

            <!-- Transaction Mode -->
            <div class="mb-3">
              <select class="form-select shadow-sm" name="mode" id="mode_u">
                <option value="" disabled selected>-- Select Mode --</option>
                <!-- Mode options will be populated dynamically -->
              </select>
            </div>

            <!-- Mode Details -->
            <div class="mb-3">
              <input type="text" class="form-control shadow-sm" name="mode_detail" id="mode_detail_u" placeholder="Mode Description (e.g., bankDR, bankUPI, cash)" />
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
              <button
                id="submitButton"
                type="submit"
                class="btn custom-btn-primary w-100 shadow-sm"
              >
                <i class="fa-solid fa-plus-circle"></i> Update Transaction 
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
