{% extends 'header.html' %} 
{% load static %} 
{% block body %}

{% include 'transaction/filter_grid.html' %} 

<!-- Keyword Display -->
{% if key %}
    <div class="px-4 mt-3">
        <span class="text-secondary small text-uppercase fw-bold">Active Filter:</span>
        <span class="badge bg-primary-subtle text-primary border border-primary-subtle ms-2">{{ key }}</span>
    </div>
{% elif data %}
    <div class="px-4 mt-3">
        <span class="text-secondary small text-uppercase fw-bold">Active Filters:</span>
        {% for j, i in data.items %}
            {% if i != "" %}
                {% if j == "type" %}
                    {% for item in i %}
                        <span class="badge bg-light text-dark border ms-1">{{ item }}</span>
                    {% endfor %}
                {% else %}
                    <span class="badge bg-light text-dark border ms-1">{{ i }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <span id="key" class="visually-hidden">mhb_transactions</span>
{% endif %}

<!-- Transaction summary Table -->
{% include 'transaction/transaction_summary.html' %}

<!-- Transaction Detail Table -->
{% include 'transaction/transaction_detail_table.html' %}

  <!-- Individual Delete Confirmation Modal -->
{% include 'utility/confirmation_modal.html' with title='Confirm Delete' body='Are you sure you want to delete this transaction?' confirmButton='Delete' %}

<!-- Transaction Filter Modal -->
{% include 'transaction/filterModal.html' with data=data categories=categories %}

<!-- Edit Transaction Modal -->
{% include 'transaction/editTransactionModal.html' %}

{% include 'floating_button_individual.html' with m_type='transaction' %}


{% endblock body %}

{% block script %}
<script src="{% static 'js/transaction.js' %}"></script>
<script src="{% static 'js/utilityFunction.js' %}"></script>
{% endblock script %}
