{% extends 'header.html' %}
{% load static %}

{% block body %}
<style>
/* 
 * Utility card styles have been migrated to accounts/static/css/style.css
 * to conform with the centralized premium fintech design system.
 */
</style>

<div class="util-page">

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
            {% for item in items %}
            <div class="col">
                <a href="{{ item.url }}"
                   target="{% if item.title == 'ADVANCE UTILITIES' %}_blank{% endif %}"
                   class="util-card-link">
                    <div class="util-card">
                        <div class="util-icon-circle">
                            <i class="fa-solid {{ item.icon }}"></i>
                        </div>
                        <div>
                            <div class="util-card-title">
                                {{ item.title }}
                                {% if item.title == 'REMINDER' and badge > 0 %}
                                <span class="util-badge">{{ badge }}</span>
                                {% endif %}
                            </div>
                            <p class="util-card-desc">{{ item.description }}</p>
                        </div>
                        <div class="util-card-arrow">
                            <i class="fa-solid fa-arrow-right"></i> Open
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock body %}
